@model GeoRef.Models.GeoReferenceDto
<style type="text/css">  
      html, body, #canvasMap {  
        height: 100%;  
        margin: 0px;  
        padding: 0px  
      }  
    </style>  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>  
    <script type="text/javascript">  
        var map;  
        function LoadGoogleMAP() {  
            var SetmapOptions = {  
                zoom: 10,  
                center: new google.maps.LatLng(-34.397, 150.644)  
            };  
            map = new google.maps.Map(document.getElementById('canvasMap'),  
      SetmapOptions);  
        }  
  
        google.maps.event.addDomListener(window, 'load', LoadGoogleMAP);  
  
    </script>  

<form asp-action="GeoReferenceCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Crear Georeferencia</h1>
        <hr />
        <div class="col-12">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Estado</label>
                    </div>
                    <div class="col-4">
                        <select asp-for="idEstado" asp-items="@ViewBag.EstadosList" class="form-control">
                            <option selected="selected"> Selecciona Estado </option>
                        </select>
                        <span asp-validation-for="idEstado" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;" asp-for="Latitud"></label>
                    </div>
                    <div class="col-5 pb-3">
                        <input asp-for="Latitud" class="form-control"/>
                        <span asp-validation-for="Latitud" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label class="form-label pt-2" style="font-size:20px;" asp-for="Longitud"></label>
                    </div>
                    <div class="col-5 pb-3">
                        <input asp-for="Longitud" class="form-control"/>
                        <span asp-validation-for="Longitud" class="text-danger"></span>
                    </div>
                </div>

                <h1>Display Google Map</h1>
                <div id="canvasMap"> </div>  

               

                <br />
                <br />
                <hr />
                <div class="form-group row">
                    <div class="col-5 offset-2">
                        <a asp-action="GeoReferenceIndex" class="btn-primary btn form-control">Regresar</a>
                    </div>

                    <div class="col-5">
                        <input type="submit" value="Crear" class="btn btn-success form-control"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
